- var login = true
- var page = 's'
//-home,profile,playlist,songpage,addsong,searchresult
- var isvarified = false
include pugtemplate.pug
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title JPMusicLearn
    include indexhead.pug
  body
    #app
    //-include navbar\container.jade
    //-div.container.mt-5.pt-2.pt-lg-3
      case page
        when 'home': include home\container.jade
        when 'profile': include profile\container.jade
        when 'playlist': include playlist\container.jade
        when 'songpage': include songpage\container.jade
        when 'addsong': include addsong\container.jade
        when 'searchresult': include searchresult\container.jade
    include indexbody.jade