- var page = 's'
//-home,profile,playlist,songpage,addsong,searchresult
//-include pugtemplate.pug
doctype html  
html
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title POE商店監聽
  body
    #app
    include scripts.pug
